<h1>Burger World</h1>

{{!-- form to add burger to database --}}
<div class="first">
<form id="addBurger"  class="button-size">
  <label for="bname">Request any burger that you want from the Chef:</label><br>
  <div class="text">
     <textarea type="text" id="bname" name="bname"></textarea><br>
    <button class="send" id="submit" type="submit">Submit</button>
  </div>
</form><br>
</div>

    <div class="container">
<div class="second">
    <h1>All you can eat Burger Bar</h1>
<ul>
    
  {{#each data as |value key|}}
    {{#unless value.eaten_burger}}
  <li class="list">
    <p>
      {{key}}. {{value.name}} Burger  

      <button class="eat" data-planid="{{value.id}}" data-state="{{value.name}}" data-condition="{{value.eaten_burger}}" >Take this {{value.name}} burger!</button>
    </p>
  </li>
  {{/unless}}
  {{/each}}
  
</ul>
</div>


<div class="third">
  

    <h2>Your Plate</h2>
  
<ul>
    
  {{#each data as |value key|}}
    {{#if value.eaten_burger}}

  <li>
    <p>
    <button class="delete" data-deleteid="{{value.id}}" data-state="{{value.name}}" data-condition="{{value.eaten_burger}}" >Devour It</button>
    
      {{key}}. {{value.name}} Burger

      <button class="eat" data-planid="{{value.id}}" data-state="{{value.name}}" data-condition="{{value.eaten_burger}}" >Return the {{value.name}} burger to the Chef!</button>
    </p>
  </li>
  {{/if}}
  {{/each}}
  
</ul>
    </div>
        </div>


{{!-- form to update plane --}}
<div class="fourth">
<h2>Upgrade your burger</h2>
<form id="updateburger" class="button-size">
  <select name="id" id="selected">
		{{#each data as |value key|}}
            {{#unless value.eaten_burger}}
			<option name="select" value="{{value.id}}">{{value.name}}</option>
		{{/unless}}
        {{/each}}
	</select><br>
  <textarea class="update_text" type="text" name="upburger" placeholder="Upgrade your burger from the bar"></textarea><br>
  <button id="update" type="submit">Update Plan!</button>
</form>
</div>


<div class="separator">
  <h1>How it works</h1>
  
    <h3>
      This is a sample website showing the functionality of "Full
    Stack Web Dev"
    </h3>


  <div class="explain">
    <p>
    Start by Inserting a data/burger:
  </p>

  {{#with data}}
   {{#unless data.eaten_burger}}
      1) Your data was sent to the backend via routes(Express+Http verbs) and saved to a SQL database. <br>
      2) Also using routes your data was sent back to the front-end for user's interaction<br>
  {{/unless}}
  {{/with}}


  {{#each data as |value key|}}
     {{#if value.eaten_burger}}
      3) Your Data was updated <br>
      4) your data can now be deleted or updated again
      {{/if}}
  {{/each}}
     

  </div>

    

</div>
 








